body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-image :url("./images/education.jpg");
    color:white ;
    display: left;

}
/* Setting for contant include in skills wrapper  */
.Education-wrapper{
    display:left;
    padding: 100px;
    justify-content: space-between;
    align-items:left;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
/* nav-link */
.nav-link {
    justify-content: space-between;
    align-items: flex-end; /* Corrected alignment property */
    color: white;
    border: 1px;
    border-color: aliceblue;
}
    /* add the colour in nav link */
.nav-link a {
    font-family: 'Times New Roman', Times, serif;
    color:white;
    text-decoration:none;
    transition: 0.5s;
    transform: matrix3d();
    margin: 10px;
    display: flexbox;
   
}
/* add hover on nav-link  */
.nav-link a:hover
{
    color:rgb(194, 22, 22);
    letter-spacing: 2px;
}

